
body {
    color: white;
    font-family: "Pirata One", system-ui;
    font-weight: 400;
    font-style: normal;
    text-shadow: 2px 2px 1px black;
    margin: 0;
    padding: 0;
    background-color: #029c4f;;
}

.produto-img{
    width:200px;
    height: 200px;
}

#sec-shop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.artigo {
    margin: 10px;
    width: 300px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(24, 24, 24);
    border: 1px solid #003108;
    border-radius: 8px;
}

.artigo:hover{
    transition: 0.5s;
    box-shadow: 0px 0px 30px white;
}

.artigo h2{
    padding-bottom: 7px;
}

.descriçao-produto{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.preço-produto{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.button{
    width: 200px;
    height: 50px;
    background-color: #029c4f;
    border: 1px solid #006633;
    border-radius: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    color: white;
}

.button:hover{
    box-shadow: 0px 0px 10px white;
}

.spaceblc{
    height: 100px;
}

.slider h2{
    padding-left: 30px;
}

