
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

:root{
        --font-family: "Poetsen One", sans-serif;
        --font-weight: 400;
        --font-style: normal;

        --cbrown:rgb(32, 21, 9);
        --ccreme:rgb(255, 252, 226);
        --cgreen:rgb(0, 255, 13);
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poetsen One", sans-serif;
      
}
